<a class="skip-link" href="#main-content">Skip to content</a>
<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ROOT}}index.html" aria-label="VoltTech Computer Co. home">
      <img src="{{ROOT}}brand/VoltTech_Full_Logo_Transparent.png" alt="VoltTech Computer Co." width="1420" height="827">
    </a>
    <span class="brand-promise micro">BUILT FOR<br>HIGHER STANDARDS</span>
    <nav class="primary-nav" id="primary-navigation" aria-label="Main navigation">
      <ul>
        <li><a href="{{ROOT}}store.html">Store</a></li>
        <li><a href="{{ROOT}}builder/index.html">PC Builder</a></li>
        <li><a href="{{ROOT}}pc-repair-pretoria.html">Services</a></li>
        <li><a href="{{ROOT}}signal-scan.html">Signal Scan</a></li>
        <li><a href="{{ROOT}}static.html">STATIC</a></li>
      </ul>
    </nav>
    <a class="header-account" href="{{ROOT}}account.html">Account</a>
    <button class="button button-secondary menu-toggle" type="button" data-menu-toggle aria-expanded="false" aria-controls="primary-navigation" hidden>Menu</button>
  </div>
</header>
